<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
  <div class="bg-white rounded shadow p-10">
    <h2 class="text-2xl font-bold mb-5">{{ showContent() }}</h2>
    <button class="p-2 bg-blue-500 text-white rounded" (click)="toggleContent()">Click me!</button>
    @if (showContent() == false) {
      <p class="mt-2">Es falso</p>
    } @else {
      <p class="mt-2">Es verdad</p>
    }
  </div>
</section>
<section class="grid grid-cols-1 md:grid-cols-2 gap-3 mt-2">
  <div class="bg-white rounded-2xl shadow p-10">
    <h2 class="text-2xl">{{ grade() }}</h2>
    @switch (grade()) {
      @case ('A') {
        <p>Arriba de 90</p>
      }
      @case ('B') {
        <p>Arriba de 80</p>
      }
      @case ('F') {
        <p>Suspenso</p>
      }
      @default {
        <p>Las notas no están subidas</p>
      }
    }
  </div>
</section>
